


body{
    background-color:  rgb(74 222 128)
    ;
   
}

.container{
    display: block;
    text-align: center;
width: 250px;
margin: auto;
   font-size: 18px;
}

input{
  width: 200px;
    color:rgb(124 45 18) ;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
   
}



#check-number{
    display: block;
    margin: auto;
    color:rgb(17 24 39);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
}


h1{
    text-align: center;
    color: black;
}

#output-box{
    margin: 1rem;
    padding: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;

}

.footer{
    border-radius: 1rem;
    margin-top: 5rem;
       padding: 1rem;
      text-align: center;
        background-color: 
        #166534;
        font-size: large;
    }
    
    .list-non-bullet{
        list-style: none;
    
       
    }
    
    .list-item-inline{
        display: inline;
    
    margin: 1rem;
    
     font-size: 17px;
     text-align: center;
     padding: 1rem 1rem;
    
    
    }